!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
 %head
  %title Basic Layout - 1 
  %meta{"http-equiv" => "content-type", "content" => "text/html; charset=ISO-8859-1"}
  %meta{"http-equiv" => "content-language", "content" => "en"}
  %meta{"http-equiv" => "description", "content" => " "}
  %meta{"http-equiv" => "keywords", "content" => " "}
  %meta{"http-equiv" => "author", "content" => "Goz"}
  %meta{"http-equiv" => "copyright", "content" => " "}
  %link{"rel" => "stylesheet", "type" => "text/css", "href" => "style1.css", "media" => "screen"}
  %link{"rel" => "shortcut icon", "href" => "#"}
 %body
  %div#wrapper
   %div#header
    Header info
   %div#nav
    %ul
     %li 
      %a{:href => '#'}Option1
     %li 
      %a{:href => "#"}Option2
     %li 
      %a{:href => "#"}Option3
     %li 
      %a{:href => "#"}Option4
     %li 
      %a{:href => "#"}Option5
     %li 
      %a{:href => "#"}Option6
     %li 
      %a{:href => "#"}Option7
     %li 
      %a{:href => "#"}Option8
     %li 
      %a{:href => "#"}Option9
   %div#main_content
    %p
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat nunc. In placerat, odio quis lacinia aliquet, 
     nibh risus consectetur lorem, quis tincidunt lacus mauris et nisi. Curabitur adipiscing ipsum id nisi placerat sed 
     molestie dui adipiscing. Nunc mi urna, interdum nec vestibulum vitae, accumsan id purus. Aliquam enim justo, gravida 
     nec mollis at, tincidunt non tortor. Mauris dictum lobortis cursus. Vestibulum sodales odio et justo tempus et gravida 
     ligula tempor. In libero sem, iaculis vel dignissim nec, iaculis a nibh. Fusce id erat nunc. 
    %p
     Nullam mi metus, viverra consequat ornare eget, tincidunt sed nisl. Nam blandit tincidunt fermentum. Mauris commodo 
     hendrerit libero, sit amet adipiscing neque placerat ac. Mauris dictum lorem at leo egestas congue. Ut adipiscing 
     tincidunt velit et placerat. Praesent eros nisi, ornare sit amet ultrices in, vulputate id orci. Proin molestie  
     consequat sapien at interdum. Duis velit lacus, tempus id pharetra non, tempus nec nulla. Donec adipiscing adipiscing 
     elit, sit amet faucibus nibh vulputate nec. Quisque ut tellus quis purus luctus rhoncus in vel metus. Mauris lectus ante, 
     lobortis sit amet aliquam eget, eleifend vel arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
     cubilia Curae; Ut vulputate ultricies sapien nec scelerisque. Nam ac lobortis metus.
   %div#footer
    Footer info
   %div.clear
  
